
@{
    ViewBag.Title = "Login";
}

<h2>MVC ONLINE QUIZ APP</h2>
<div style="background-image: url('../../Content/image/bg.jpg');">
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="#">QUIZ</a></li>
                <li><a href="../QuizMvc/Index">C</a></li>
                <li><a href="../QuizMvc/Index">C++</a></li>
                <li><a href="../QuizMvc/Index">JAVA</a></li>
                <li><a href="../QuizMvc/Index">ANDROID</a></li>

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </ul>

        </div>
        <div class="title">
            <h3>ONLINE QUIZ</h3>

        </div>
    </header>


    <div class="button">

        <a href="../QuizMvc/Index" class="btn">START QUIZ</a>

    </div>
</div>

